<div class="home-container">
    <div class="welcome-text">
      <div class= "button-container">
        <h1>Bem-vindo, [User]</h1>
        <p>Como posso ajudá-lo hoje?<br>Escolha uma das opções abaixo:</p>
        <div class="button-group">
          <button (click)="goTo('/chat')" class="big-button">💬 Conversar</button>
          <button (click)="goTo('/dashboard')" class="big-button">📊 Dashboard</button>
         <!--<button (click)="goTo('/settings')" class="big-button">⚙️ Definições</button>-->
        </div>
      </div>
    </div>
  
    <div class="image-area">
      <img src="assets/avatar.png" alt="Assistente Avatar" />
    </div>
  </div>
  